<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User list</title>

</head>
<style>
    h1,h2,h3{
        padding-left: 50px;
    }

    table {
        text-align: center;
    }
</style>

<body>
    
    <%- include("./navbar") %>
    <h1>Manage database</h1>
    <table style="max-width: 500px;">
        <tr>
            <th>profile</th>
            <th>name</th>
            <th>lastname</th>
            <th colspan="2">actions</th>
        </tr>
        <% for(i of name){ %>
     
            <tr>
                <td><a href="/user/<%= i._id %>"><img src="../images/profiles/<%= i.profile_image %>" onerror="this.src='../images/profiles/profile_default.jpg'" alt="" height="50" ></a></td>
              
                <td><a href="/user/<%= i._id %>">
                        <%= i.name %>
                    </a></td>
                <td >
                    <%= i.lastname %>
                </td>
                <td>
                    <form action="/user/edit" method="POST">
                        <input type="hidden" name="_id" value="<%= i._id %>">
                        <input type="hidden" name="name" value="<%= i.name %>">
                        <input type="hidden" name="lastname" value="<%= i.lastname %>">
                        <input type="hidden" name="profile_image" value="<%= i.profile_image %>">
                        <button type="submit">แก้ไข</button>
                    </form>
                </td>
                <td>
                    <form action="/delete/<%= i._id %>">
                        <input type="hidden" name="_id" value="<%= i._id %>">
                        <input type="hidden" name="name" value="<%= i.name %>">
                        <input type="hidden" name="lastname" value="<%= i.lastname %>">
                        <input type="hidden" name="profile_image" value="<%= i.profile_image %>">
                        <button type="submit" onclick="return confirm('confirm to delete?')" >ลบข้อมูล</button>

                </form></td>
                
            </tr>
            <% } %>
    </table>
    <br><br>
    <h3><a href="/user/add">add user</a></h3><br>
    <h3><a href="/">back</a></h3><br>


</body>

</html>